html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    background-color: slateblue;
}

@tailwind base;
@tailwind components;
@tailwind utilities;